{% extends "layout.html" %}

{% block content %}
<div class="span10 offset1">
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form method="post"
        action="{% url 'django.contrib.auth.views.login' %}"
        class="form-horizontal">{% csrf_token %}
        <div class="control-group">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div class="control-group">
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>
        <div class="control-group well actions">
            <input type="submit" value="login" class="btn btn-primary"/>
        </div>
    </form>
</div>
{% endblock %}
