{% extends "layout.html" %}
{% load mytags %}
{% block content %}
  <table class="project-list">
    {% for project in projects %}
      <tr>
        <td>[{{ project.name }}]</td>
        <td>[{{ project.price }}]</td>
        <td>
          {% if project_started == project.id %}
          <form action="{% url projects_stop project.id %}" method="post">{% csrf_token %}
              <input class="btn" value="Stop" type="submit"/>
            </form>
          {% elif  project_started == None %}
            <form action="{% url projects_start project.id %}" method="post">{% csrf_token %}
              <input class="btn" value="Start" type="submit"/>
            </form>
          {% else %}
            <small>start</small>
          {% endif %}
        </td>
        <td>
          {% if project_started == project.id %}
            started at {{ project.started_at|timestamp|date:"H:i"}}
          {% else %}
            xx.xx
          {% endif %}
        </td>
        <td><a class="small" href="/projects/{{ project.id }}/history">history</a></td>
        <td><a class="small" href="/projects/{{ project.id }}/delete">delete</a></td>
      </tr>
    {% endfor %}
  </table>

  <div class="actions">
    <a href="/projectwizard">create project</a>
  </div>
{% endblock %}
