<!DOCTYPE html>
<html>
    <head>
        <title>Timesheet_py</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-responsive.min.css"/>
        <link rel="stylesheet" type="text/css" href="/static/app.css"/>
        <script type="text/javascript" src="/static/jquery.min.js"></script>
        <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/app.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="hero-unit">
                <h1><a href="/">Timesheet_py</a> </h1>
            </div>
            {% if flash %}
                <div class="alert">{{ flash }}</div>
            {% endif %}
            {% block content %}{% endblock %}

            {% if user.is_authenticated %}
                logged in as <strong>{{ user.username }}</strong>
                <a href="/logout">logout</a>
            {% endif %}
        </div>
    </body>
</html>
