<!DOCTYPE html>
<html>
  <head>
    <title>Timesheet_py</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css"/>
    <!--link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-responsive.min.css"/-->
    <link rel="stylesheet" type="text/css" href="/static/app.css"/>
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="hero-unit">
        <h1> Timesheet_py </h1>
      </div>
      {% block content %}{% endblock %}
    </div>

  </body>
</html>
